# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
venv/
env/

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpetas de salida de notebooks
notebook/figuras/